@import "tailwindcss";

@keyframes gradient-shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient-shimmer {
  animation: gradient-shimmer 3s linear infinite;
}
